@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .break-words {
    overflow-wrap: break-word;
    word-break: break-word;
  }
}

html, body {
  @apply scroll-smooth;
  -ms-overflow-style: scrollbar;
  
  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    border-radius: 999px;
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: #556676;
    border-radius: 999px;
  }
}
.tweet-content {
  @apply text-[15px] text-haze break-words;
  
  a {
    @apply text-primary hover:underline;
  }
}
